@import url('../../../../assets/styles/colors.css');
@import url('../../../../assets/styles/styles.css');

.message-container {
  display: flex;
  align-items: flex-start;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.message-replying-container{

  background-color: rgba(50,50,50,.8);
  border-left-width: .2rem; /* Width of the border */
  border-left-style: solid; /* Style of the border */
  border-left-color: var(--brand-purple); /* Color of the border */
}

.message-content {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}

.message-header {
  display: flex;
  align-items: center;
}

.username {
  font-weight: bold;
  color: var(--white);
}

.username:hover {
  text-decoration: underline;
  cursor: pointer;
}

.timestamp {
  margin-left: 0.5rem;
  color: var(--gray-400);
  font-size: 0.7rem;
}

.timestamp:hover{

  cursor: default;
}

.message-text {

  font-size: 1.1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: var(--white);
  word-wrap: break-word;
  line-height: 1.5rem;
}

.footer-container{

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

}

.footer-button{

  border-radius: 40%;
  padding: .2rem;
  color: var(--gray-500);
  width: 1.4rem;
  height: 1.4rem;
}

.footer-button:hover{

  background-color: var(--gray-700);
  cursor: pointer;
}

